html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
}
.content {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('./background.jpg');
}
table.imagetable {
  font-family: verdana, arial, sans-serif;
  font-size: rem;
  color: #333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: separate;
  border-radius: 15px;
  width: 90%;
}

table.imagetable th {
  background: #b5cfd2;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

table.imagetable td {
  background: #b5cfd2;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

.button-3d-1 {
  position: relative;
  background: aquamarine;
  border: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  outline: none;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
}
.button-3d-1::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -6px;
  border: 6px solid transparent;
  border-right: 6px solid hsl(16, 100%, 30%);
  border-left-width: 0px;
}

.button-3d-1::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -6px;
  right: 0;
  border: 6px solid transparent;
  border-top: 6px solid hsl(16, 100%, 30%);
  border-bottom-width: 0px;
}
.button-3d-1:active {
  background: hsl(16, 100%, 40%);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}
.button-3d-1:active::before {
  border: 3px solid transparent;
  border-right: 3px solid hsl(16, 100%, 30%);
  border-left-width: 0px;
  left: -3px;
}

.button-3d-1:active::after {
  border: 3px solid transparent;
  border-top: 3px solid hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  bottom: -3px;
}
